.week_content {
  width: 100%;
  background-color: rgb(6, 155, 236);
}
.week_content .week_content-inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .week_content-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.week_days {
  display: block;
  text-align: center;
}
.week_days .week_day-temp_cont {
  text-align: center;
}
.week_days .week_day-temp {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
}