.week_content {
  width: 100%;
  background-color: rgb(6, 155, 236);
}
.week_content .week_content-inner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1000px) {
  .week_content-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.week_days {
  display: block;
  width: 25%;
  cursor: pointer;
  border: 2px solid rgba(0, 0, 0, 0);
  text-align: center;
}
.week_days .week_day-temp_cont {
  text-align: center;
}
.week_days .week_day-temp {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
}

.week_content-button_cont {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

button {
  width: 100%;
  height: 40px;
  cursor: pointer;
  background-color: rgb(5, 21, 127);
  color: antiquewhite;
  border: 1px solid rgb(22, 3, 91);
  border-radius: 5px;
  font-size: 16px;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  font-family: "Exo", sans-serif;
}

button:hover {
  background-color: white;
  color: rgb(5, 21, 127);
  font-weight: 800;
  letter-spacing: 2px;
}