.day_content{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
@media(max-width:800px){
    .day_content{
        flex-direction: column;
    }
}
.image_container{
    img{
        width: 50px;
    }
}
.day_content-cloud{
   img{
    width: 300px;
   }
}
.cloud_description{
    text-align: center;
    h3{
        margin: 0;
        padding: 0;
    }
}
.day_content-other_info{
    img{
        width: 40px;
        height: 40px;
        margin:3px 5px 10px 0px;

    }
    h3{
        margin:5px 30px 10px 15px;
        font-size: 24px;
        font-family: 'Exo',sans-serif;
    }
}
.other_info-humidity_cont,
.other_info-windspeed_cont,
.other_info-winddirection_cont,
.other_info-pressure_cont{
   display: flex;
   width: 100%;
   flex-direction: row;
   align-items:center;
   justify-content: flex-start;
}
.cloud_description{
    h3{
        font-size: 26px;
        margin-bottom: 20px;
        text-transform: capitalize;
    }
}
.day_content-city_info{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    p{
        font-size: 22px;
        font-weight: 700;
    }
    h3{
        font-size: 24px;
        font-weight: 800;
    }
    h2{
        font-size: 26px;
        font-weight: 900;
    }
}